*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

.admin-search{
    border: 1px solid gray;
    border-radius: 30px;
    padding: 10px;
}

.home-search{
    border: 1px solid gray;
    border-radius: 30px;
    padding: 10px;
    width: 600px ;
    text-align: center;
}
/*.homeimg{
    width: 1920px;
    height: 1080px;
}*/
